/* MenuAdmin.css */
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
}

.title2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.nameLabel2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.userName2 {
  color: #808080;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.buttonContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.button2 {
  background-color: #F44C7F;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonText2 {
  color: #fff;
}

.listContainer2 {
  border: 1px solid #808080;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 10px; /* Bordes redondeados en todo el contenedor */
  overflow: hidden; /* Asegura que los bordes redondeados se apliquen bien */
}

.header2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F6F4F4;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-width: 1px;
  border-color: #F6F4F4;
}

.headerText2 {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

.listItem2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.listItemText2 {
  font-size: 13px;
  padding: 2px;
  font-weight: bold;
  color: #808080;
}

.bottomButton2 {
  background-color: #F44C7F;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutButton2 {
  border: 1px solid #F44C7F;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutButtonText2 {
  color: #F44C7F;
}
