/* Main container */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* Title */
.title {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Section title */
.section-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* User info */
.user-info {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user-label {
  font-weight: bold;
  margin-right: 10px;
}

.user-name {
  color: #7a7a7a;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  background-color: #ff4081;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e6396f;
}

/* Search input */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.search {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  padding-right: 40px; /* Espacio para el botón de limpiar */
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.clear-search {
  position: absolute;
  right: 15px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #aaa;
}

.clear-search:hover {
  color: #ff4081;
}

/* Contenedor de la tabla con scroll */
.table-container {
  max-height: 300px; /* Puedes ajustar esta altura según lo necesites */
  overflow-y: auto; /* Permite el scroll vertical */
  margin-bottom: 20px;
  border: 1px solid #ddd; /* Opcional: agrega un borde alrededor de la tabla */
}

/* Estilos generales de la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #ffe6f0;
}

/* Ajuste para asegurar que el header esté fijo si se necesita */
.table-container thead {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 1;
}

/* Action buttons */
.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.action-button {
  background-color: #ff4081;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #e6396f;
}

/* Logout button */
.logout {
  background-color: transparent;
  border: none;
  color: #ff4081;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

.logout:hover {
  color: #e6396f;
}
