body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; 
  }
  
 
  
  h1 {
    font-size: 2rem;
    color: #333;
  }
  
  p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 1.5rem;
  }
  
  header {
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .custom-btn,
  .btn-primary {
    background-color: #ff5e78 !important;  
    border-color: #ff5e78 !important;      
    color: white !important;            
  }
  
  .custom-btn:hover,
  .btn-primary:hover {
    background-color: #ff708a !important;  
    border-color: #ff708a !important;
  }
  
  .custom-btn-outline,
  .btn-outline-primary {
    background-color: white !important;
    border-color: #ff5e78 !important;     
    color: #ff5e78 !important;            
  }
  
  .custom-btn-outline:hover,
  .btn-outline-primary:hover {
    background-color: #ff708a !important; 
    color: white !important;             
    border-color: #ff708a !important;
  }
  
  .map-container {
    height: 500px; /* Cambia este valor según el tamaño deseado */
    width: 100%; /* Elimina el valor 1000% y ajusta a 100% */
    border: 2px solid black; /* Este borde es temporal, lo puedes quitar después */
}

  
  
  .farmacia-details {
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ff5e78;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
    margin-bottom: 1.5rem;
  }
  
  .farmacia-details h3 {
    color: #333;
    font-weight: bold;
  }
  
  .farmacia-details .text-success {
    color: #28a745 !important;
  }
  
  .farmacia-details .text-danger {
    color: #ff5e78 !important;
  }
  
  .centered-list {
    list-style-type: none;
    padding-left: 0;
    text-align: center;  
  }
  
  ul li {
    margin-bottom: 0.5rem;
  }
  
  a {
    color: #ff5e78;
    text-decoration: none;
  }
  
  a:hover {
    color: #ff708a;
    text-decoration: underline;
  }
  
  footer {
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  button {
    margin: 10px;
  }
  
  .leaflet-marker-icon {
    background-image: url('/leaflet/marker-icon.png');
  }
  
  .leaflet-marker-icon.leaflet-marker-icon-2x {
    background-image: url('/leaflet/marker-icon-2x.png');
  }
  
  .leaflet-marker-shadow {
    background-image: url('/leaflet/marker-shadow.png');
  }
  